.contents {
  position: relative;
}

.date-box {
  border: 1px solid #e7e7e7;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 20px 10px 10px 10px;
}

.today-date {
  flex: 0 0 2rem;
  margin-left: 10px;
  margin-right: 10px;
  color: #3b87ab;
  font-weight: 700;
}

.date-list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
}

.date {
  flex: 0 0 1.5rem;
  color: #707070;
  cursor: pointer;
  text-align: center;
}

.diary-box {
  position: absolute;
  margin-top: 5rem;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  overflow: auto;
}

.color-blue {
  color: blue;
}

.color-red {
  color: red;
}

.diary-contents {
  border: 1px solid #e7e7e7;
  padding: 20px;
  margin-bottom: 1.5rem;
}

.diary-date {
  font-size: 0.8rem;
  color: #3b87ab;
  margin-bottom: 1rem;
}

.diary-text {
  margin: 2rem 0;
  text-align: center;
}

.button-box {
  display: flex;
  justify-content: center;
}

.diary-button {
  color: #fff;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem;
  transition: 800ms ease all;
}

.diary-button:hover {
  background-color: #1aab8a;
  color: #fff;
}