.contents {
  overflow: auto;
}

.guestbook {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 40px 20px;
}

.guestbook-head {
  background-color: #eeeeee;
  padding: 10px;
}

.guest-name {
  font-weight: bold;
  color: #617dc1;
}

.guest-date {
  font-size: 13px;
  color: #707070;
}

.guestbook-contents {
  display: flex;
  padding: 1rem 0;
}

.guestbook-image {
  display: flex;
  align-items: center;
}

.guestbook-image > img {
  width: 170px;
  height: 170px;
}

.guestbook-text {
  font-size: 0.75rem;
  line-height: 1.5;
  padding: 1rem;
  display: flex;
  align-items: center;

}

.guestbook-reply {
  background-color: #f8f9fa;
  padding: 10px;
}

.user-name {
  font-weight: bold;
  color: #617dc1;
}

.fas {
  color: orange;
}