.contents {
  overflow: scroll;
}

.photo-title {
  background-color: #eeeeee;
  padding: 10px;
}

.photo-image {
  margin: 20px 0;
}

.photo-image > img {
  width: 100%;
}

.photo-contents {
  margin: 15px;
}

.photo-text {
  padding-bottom: 2rem;
}