.contents {
  overflow: scroll;
}

.photo-title {
  background-color: #eeeeee;
  padding: 10px;
}

.photo-image {
  margin: 20px 0;
}

.photo-image > img {
  width: 100%;
}

.photo-text {
  padding-bottom: 2rem;
}

.photo-contents {
  margin: 15px;
}

.photo-title > span {
  font-size: 13px;
}

.photo-date {
  font-size: 13px;
  color: #707070;
}

.photo-image {
  margin-left: 15px;
  margin-right: 15px;
}

.photo-text {
  margin-left: 15px;
  margin-right: 15px;
}