body {
  background-color: #a3a3a3;
  background-image: url("./images/pattern.png");
  background-size: 100px;
}

.bookcover {
  background-color: #b4d1da;
  border: 1px solid #738186;
  border-radius: 10px;
  width: 960px;
  height: 660px;
  position: relative;
  margin: 100px auto;
}

.bookdot {
  border: 2px dashed white;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.page {
  background-color: #eeeeee;
  border-radius: 10px;

  /**position 속성을 absolute 또는 fixed로 적용한 후
  top, bottom, left, right를 모두 지정하면
  상위요소의 크기에 따라 변하도록 할 수 있음
   */
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.container {
  display: flex;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 0.3;
}

.today {
  text-align: center;
}

.today span {
  color: red;
}

.profile {
  display: flex;
  flex: 1;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 10px;
  margin-top: 15px;

}

.main-section {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  margin-left: 20px;
}

.main-section header {
  display: flex;
  flex-direction: row;
}

.main-section header h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.main-section header > * {
  flex-basis: 50%;
}
/** 그냥 우측 정렬하고싶으면
.main-section header .url {
  margin-left: auto;
}
 */

/**.profile과 동시에 적용하는 방법?*/
.main-section .contents {
  display: flex;
  flex: 1;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 10px;
  margin-top: 15px;
}

nav {
  display: flex;
  flex: 0.1;
  border: 2px solid darkgrey;
}


