body {
  background-color: #a3a3a3;
  background-image: url("./images/pattern.png");
  background-size: 100px;
}

.bookcover {
  background-color: #b4d1da;
  border: 1px solid #738186;
  border-radius: 10px;
  width: 960px;
  height: 660px;
}

.bookdot {
  border: 2px dashed white;
  border-radius: 10px;
}

.page {
  background-color: white;
  border-radius: 10px;
  width: 860px;
  height: 560px;
}