body {
  background-color: #a3a3a3;
  background-image: url("./images/pattern.png");
  background-size: 100px;
}

.bookcover {
  background-color: #b4d1da;
  border: 1px solid #738186;
  border-radius: 10px;
  width: 960px;
  height: 660px;
  position: relative;
  margin: 100px auto;
}

.bookdot {
  border: 2px dashed white;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.page {
  background-color: white;
  border-radius: 10px;
  width: 900px;
  height: 600px;

  /**포지션 적용 안함*/
  margin: 13px auto;
}